:root {
  --bg: RGB(238, 236, 231);
  --text: RGB(53, 62, 67);
  --yellow_logo: RGB(241, 203, 135);
  --green_logo: RGB(125, 172, 161);
  --blue_logo: RGB(96, 138, 162);
  --orange_logo: RGB(230, 139, 88);
  --font: 'Segoe UI', Roboto, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--bg);
    color: var(--text);
}

#home-logo{
    text-indent: -999em; 
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.5em;
    color:black;
    /*background-position: center;*/
    background-image: url("../img/logo_scritta.png");
    font-size: 4em;
    margin: 0;
}

#analyzeButton{
    background-color: var(--green_logo); /* Green */
   
}

.disabled-select {
    background-color: #e0e0e0 !important;
    color: #888 !important;
    cursor: not-allowed;
}
#resetButton{
    background-color: var(--yellow_logo); /* Red */
}

#resetButton:hover {
    background-color: var(--orange_logo); /* Darker red */
}
#analyzeButton:hover {
    background-color: var(--blue_logo); /* Darker green */
}
#resetButton, #analyzeButton {
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0.2em;
    cursor: pointer;
    border-radius: 5px;
}


#imageForm {
    margin-bottom: 2em; 
}
#canvasContainer {
    display: flex;
    justify-content: space-between; 
    gap: 1em; 
    margin-bottom: 2em;
}

.canvas-column {

    align-items: center;
    flex: 1;
    max-width: calc(25% - 1em);
    height: auto;
    box-sizing: border-box;
}

.canvas-column canvas {
    max-width: 100%;
    max-height: 300px; 
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.canvas-title {
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

#quantizationTable table, #DCTCoefficients table {
    border-collapse: collapse;
    margin: 1em 1em;
    text-align: center;
}

#quantizationTable td, #DCTCoefficients td {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid black;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#quantizationTable th, #DCTCoefficients th {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

#AnalysisResulst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "grid results";
    gap: 1em;
}

#GridCanvas {
    grid-area: grid;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

#componentForm{
    display: none;
}

#results {
    grid-area: results;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

#image-info {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

#image-info p {
    margin: 5px 0;
}

input[type="file"] {
    margin-top: 10px;
}